<section class="fullwidth py-5" *ngIf="projectsData">
    <div class="container">
        <h1 class="color-brand pb-2">{{projectsData?.title}}</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <!-- <a href="#" target="_blank">
                        Download PDF CV <i class="fa fa-lg fa-download"></i>
                    </a> -->
                    <app-download></app-download>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="container">
        <div class="pb-2" *ngFor="let item of projectsData?.projects">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{item.name}} - {{item.role}}{{item.isLatest?'(Latest)':''}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.dateFrom}} - {{item.dateTo}}</h6>
      <p class="card-text" *ngFor="let summary of item.summaries">{{summary.data}}</p>
      <!-- <br/> -->
      <!-- <h5 class="float-left">Roles & Responsibilities</h5> -->
      <!-- <ul class="float-left">
          <li>point a</li>
          <li>point b</li>
          <li>point c</li>
      </ul>
      <a class="float-right" href="#" >See more</a> -->
      <br/>
      <p>
        <a *ngFor="let tag of item.techTags" href="https://www.google.com/search?q={{tag.url}}" target="_blank">#{{tag.name}}, </a>
      </p>
    </div>
  </div>
</div>
  </div>
  <div class="container">
    <app-edit *ngIf="isAdmin" [pageType]="pageName" (onUpdate)=onupdate($event)></app-edit>
</div>
</section>