<section class="fullwidth py-5">
    <div class="container">
        <h1 class="color-brand pb-2">Ashok Davuluri's CV</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="#" target="_blank">
                        Download PDF CV <i class="fa fa-lg fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="text-large">Projects worked</p>
    </div>
    
    <br>
    <div class="container">
<div class="card pb-2">
    <div class="card-body">
      <h5 class="card-title">Project 1 - Sr. Software Engineer </h5>
      <h6 class="card-subtitle mb-2 text-muted">Sep 2018 - Till Now</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. 
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <a href="#" class="card-link">Company</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
       Tech: .Net Core, Service bus, RabitMq, K8
      </div>
  </div>
  <div class="card pb-2">
    <div class="card-body">
      <h5 class="card-title">Project 1 - Sr. Software Engineer </h5>
      <h6 class="card-subtitle mb-2 text-muted">Sep 2018 - Till Now</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. 
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <a href="#" class="card-link">Company</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
       Tech: .Net Core, Service bus, RabitMq, K8
      </div>
  </div>
  <div class="card pb-2">
    <div class="card-body">
      <h5 class="card-title">Project 1 - Sr. Software Engineer </h5>
      <h6 class="card-subtitle mb-2 text-muted">Sep 2018 - Till Now</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. 
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <a href="#" class="card-link">Company</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
       Tech: .Net Core, Service bus, RabitMq, K8
      </div>
  </div>
  <div class="card pb-2">
    <div class="card-body">
      <h5 class="card-title">Project 1 - Sr. Software Engineer </h5>
      <h6 class="card-subtitle mb-2 text-muted">Sep 2018 - Till Now</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. 
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <a href="#" class="card-link">Company</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
       Tech: .Net Core, Service bus, RabitMq, K8
      </div>
  </div>
  </div>
</section>