<br/>

<form class="pb-2">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-envelope"></i></label>
      <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="mailto:ashokdavuluri@live.com"><h4>ashokdavuluri@live.com</h4></a></h2>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-phone"></i></label>
        <h2 for="staticEmail" class="col-sm-2 float-left col-form-label"><a href="tel:webmaster@example.com"><h4>+44-7305415054</h4></a></h2>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-linkedin"></i></label>
        <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="https://in.linkedin.com/in/ashok-davuluri"><h4>linkedin/ashok-davuluri</h4></a></h2>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-github"></i></label>
        <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="https://github.com/dashok93/"><h4>github/dashok93</h4></a></h2>
      </div>
      <!-- <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-slack"></i></label>
        <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="htpp://testlinkforallkind/ashok"><h4>http://testlinkforall/ashok</h4></a></h2>
      </div> -->
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-stack-overflow"></i></label>
        <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="https://stackoverflow.com/users/7079607/ashok-davuluri"><h4>stackoverflow/ashok-davuluri</h4></a></h2>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-2x fa-twitter"></i></label>
        <h2 for="staticEmail" class="col-sm-1 float-left col-form-label"><a href="https://twitter.com/dashokbe"><h4>twitter/dashokbe</h4></a></h2>
      </div>
     
  </form>