<section class="fullwidth py-5">
    <div class="container">
        <div class="alert alert-success" *ngIf="isSuccess" role="alert">
           Thanks for your subscription, will get back you soon...!
          </div>
        <h3 class="color-brand pb-2">Most awesome content is coming soon....</h3>
        <div class="mb-3">
            <input type="email" class="form-control" [(ngModel)]="emailId" placeholder="Enter your email, will let you know when we ready!" aria-label="Email" aria-describedby="button-addon2">
            <span class="text-danger" *ngIf="!IsValidEmail">Please provide a valid email.</span>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="onSubscribe()" type="submit" id="button-addon2">Subscribe</button>
            </div>
          </div>
    </div>
    <!-- <div *ngIf="isAdmin" class="container">
        <button class="btn" (click)="getAllEmailsList()" type="button" id="button-addon2">Get Emails</button>
        <p class="card-text">
            <a *ngFor="let email of emailList" href="mailto:{{email}}"target="_blank">{{email}} </a>
        </p>
    </div> -->
<br/>
<div class="">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top"  src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        </div>
</div>
</section>