<section class="fullwidth py-5">
<div class="">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top"  src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
             <br/>
             <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 180px;" src="../../assets/images/c.jpg" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">item.title</h5>
                     <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                     <p class="card-text">item.description</p>
                 </div>
             </div>
        </div>
        </div>
</div>
</section>