<!-- <button class="btn btn-outline my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter1" type="button" (click)="edit()"><i class="fa fa-edit"></i></button> -->
<button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="edit()"><i class="fa fa-edit"></i></button>

<div class="modal fade bd-example-modal-lg" id="popupId" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle1">Edit content for {{pageType}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <json-editor [options]="editorOptions" [data]="jsonData"></json-editor>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
            <button type="button" class="btn" (click)="save()" data-dismiss="modal">Save changes</button>
          </div>
    </div>
  </div>
</div>