<section class="fullwidth py-5">
    <!-- <a class="weatherwidget-io" href="https://forecast7.com/en/51d66n0d39/watford/" data-label_1="WATFORD" data-label_2="WEATHER" >WATFORD WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script> -->
    <div class="container">
        <img [src]="imagePath" alt="Avatar" style="width:200px;  border-radius: 50%;">
        <h1 class="color-brand pb-2">{{profileData?.profileName}}</h1>
        <p class="text-large">{{profileData?.summary}}</p>
    </div>
    <div style="margin:25px;">
        <div class="row">
            <div class="card col-md" *ngFor="let item of profileData?.frameworks">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.subTitle}}</h6>
                    <p class="card-text">{{item.description}}</p>
                        <p class="card-text-tags">
                            <a *ngFor="let tag of item.techTags" href="https://www.google.com/search?q={{tag.url}}" target="_blank">#{{tag.name}}, </a>
                        </p>
                </div>
            </div>
            </div>
    </div>
    <div class="container" *ngIf="profileData.isShowSummary">
        <div class="row">
            <div class="card col-md">
                <div class="card-body">
                    <h5 class="card-title">{{profileData?.responsibiltyTitle}}</h5>
                    <ul>
                        <li *ngFor="let resp of profileData?.responsibilties">{{resp.data}}</li>
                      </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <app-download></app-download>
            </div>
        </div>
    </div>
    <div class="container">
            <app-edit *ngIf="isAdmin" [pageType]="pageName" (onUpdate)=onupdate($event)></app-edit>
    </div>
  
</section>