<section class="fullwidth py-5">
    <div class="container">
        <img [src]="imagePath" alt="Avatar" style="width:200px;  border-radius: 50%;">
        <h1 class="color-brand pb-2">{{profileData?.profileName}}</h1>
        <p class="text-large">{{profileData?.summary}}</p>
    </div>
    <div style="margin:25px;">
        <div class="row">
            <div class="card col-md" *ngFor="let item of profileData?.frameworks">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.subTitle}}</h6>
                    <p class="card-text">{{item.description}}</p>
                        <p class="card-text-tags">
                            <a *ngFor="let tag of item.techTags" href="https://www.google.com/search?q={{tag.url}}" target="_blank">#{{tag.name}}, </a>
                        </p>
                </div>
            </div>
            </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#" target="_blank">
                    Download PDF CV <i class="fa fa-lg fa-download"></i>
                </a>
            </div>
        </div>
    </div>

</section>