<section class="fullwidth py-5">
    <div class="container">
        <img src="../../assets/images/profile1.jpeg" alt="Avatar" style="width:200px;  border-radius: 50%;">
        <h1 class="color-brand pb-2">Ashok Davuluri</h1>
        <p class="text-large">Seeking opportunities as a full-stack Dot Net developer. Having 7+ years of experience
            wanted To be in an organization that gives an ambitious and career growth, where acquired skills, Knowledge,
            attitude, and research will be utilized towards continuous success to organization and to myself</p>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="card col-sm">
                <div class="card-body">
                    <h5 class="card-title">C#</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Back End</h6>
                    <p class="card-text">Confitend enough with microsoft technolies frame works and othes. Mainly worked with Dot Net famework</p>
                </div>
            </div>
            <div class="card col-sm">
                <div class="card-body">
                    <h5 class="card-title">UI</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Front End</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <p>Tags: #Angular, #Razor</p>
                </div>
            </div>
            <div class="card col-sm">
                <div class="card-body">
                    <h5 class="card-title">DB</h5>
                    <h6 class="card-subtitle mb-2 text-muted">#</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card col-sm">
                <div class="card-body">
                    <h5 class="card-title">Cloud</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Azure</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#" target="_blank">
                    Download PDF CV <i class="fa fa-lg fa-download"></i>
                </a>
            </div>
        </div>
    </div>

</section>